*.pyc
*.pyo
*~

/data/
/litecoin_scrypt/build/
/_trial_temp*
Makefile.local
.cache/
.pkglist
.pyenv/
.coverage
build/
ltc_scrypt.so

web-static/P2PoolExtendedFrontEnd/

web-static/p2pool-node-status/

web-static/p2pool-ui-punchy/

web-static/p2pool_fancy_front_end/
